@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* Alternate option: @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@theme {
  --font-Poppins: "Poppins", sans-serif;
}

/* Base style */
@layer base {
  body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
    font-family: var(--font-Poppins);
    min-height: 100%;
  }

  nav {
    @apply bg-slate-100 dark:bg-slate-700;
  }
}
